{
  "openapi": "3.1.0",
  "info": {
    "title": "ShareOut REST API",
    "version": "1.0",
    "summary": "Publish, serve, and manage live web artifacts.",
    "description": "The ShareOut REST API lets you publish HTML artifacts, manage versions and\ncollaborators, store data and files, and schedule jobs — all over HTTPS.\n\n**Base URL:** `https://shareout.site`\n\nAll write endpoints require a bearer token. Store yours in\n`~/.shareout/credentials` as `{ \"token\": \"so_...\" }`.\n\n> Heads up: ShareOut sits behind Cloudflare. Python `requests` can trip a\n> `1010` block — build your JSON in Python and pipe it to `curl` instead.\n",
    "contact": {
      "name": "ShareOut",
      "url": "https://shareout.site"
    }
  },
  "servers": [
    {
      "url": "https://shareout.site",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Publish",
      "description": "Create and update artifacts."
    },
    {
      "name": "Artifacts",
      "description": "Read, list, and manage artifacts."
    },
    {
      "name": "Search",
      "description": "Ranked fuzzy search across pages, folders, data, people, schedules, crew, and alerts."
    },
    {
      "name": "Collaborators",
      "description": "Share editing access and transfer ownership."
    },
    {
      "name": "Access requests",
      "description": "Viewers request access to private artifacts; owners approve or deny."
    },
    {
      "name": "Support",
      "description": "Customer support tickets across in-app, email, Slack, and Telegram."
    },
    {
      "name": "Favorites",
      "description": "Per-user starred artifacts."
    },
    {
      "name": "Data",
      "description": "Per-artifact JSON and table storage."
    },
    {
      "name": "Blobs",
      "description": "File storage (images, video, documents)."
    },
    {
      "name": "Jobs",
      "description": "Scheduled and event-driven tasks."
    },
    {
      "name": "Folders",
      "description": "Organize artifacts into personal folders."
    },
    {
      "name": "Assets",
      "description": "Per-scope asset library — versioned deliverables, collections, and client download links."
    },
    {
      "name": "External sharing",
      "description": "Client orgs, external members, folder grants, scoped tokens, read receipts, and client notes (Teams/Enterprise)."
    },
    {
      "name": "Metric alerts",
      "description": "Followable metrics and threshold alert rules."
    },
    {
      "name": "Templates",
      "description": "Reusable email templates with variables."
    },
    {
      "name": "Account",
      "description": "Plan tier and upgrades."
    },
    {
      "name": "Auth",
      "description": "CLI device login and token exchange (no bearer required)."
    },
    {
      "name": "Home",
      "description": "Signed-in home feed, activity visibility, and analytics helpers."
    },
    {
      "name": "Billing",
      "description": "Workspace subscriptions, trials, and payment methods."
    },
    {
      "name": "Workspaces",
      "description": "Teams workspaces, members, subdomains, connectors, and data catalog."
    },
    {
      "name": "Catalog",
      "description": "Optional per-workspace data map — sources, lineage, glossary."
    }
  ],
  "paths": {
    "/v1/publish": {
      "post": {
        "tags": [
          "Publish"
        ],
        "summary": "Publish an artifact",
        "description": "Create a new artifact or push a new version of an existing one.",
        "operationId": "publishArtifact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Single HTML file",
                  "value": {
                    "name": "My App",
                    "slug": "my-app",
                    "entrypoint": "index.html",
                    "visibility": "public",
                    "files": [
                      {
                        "path": "index.html",
                        "content": "<!DOCTYPE html><h1>Hello</h1>",
                        "mime": "text/html",
                        "encoding": "utf8"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Ranked fuzzy search",
        "description": "Typo-tolerant search across pages, folders, datasets, connectors, people, schedules, crew, and alerts. Same engine as the Home Cmd+K palette. Personal tokens may pass `workspace` to scope; workspace Agent tokens (`sot_`) are pinned to their workspace and require `artifacts:read`.",
        "operationId": "searchWorkspace",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search text. Empty returns recents."
          },
          {
            "name": "groups",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma subset of artifacts,folders,datasets,connectors,people,schedules,crew,alerts."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 25
            },
            "description": "Max results per group."
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Workspace id to scope (personal tokens only)."
          }
        ],
        "responses": {
          "200": {
            "description": "Grouped search hits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string"
                    },
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "folders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "datasets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "connectors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "people": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "schedules": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "crew": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    },
                    "alerts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchHit"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/ask": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Ask your workspace (single-turn Q&A)",
        "description": "Read-only answer over pages the caller can access. Same access scope as search. Triggered from Home Cmd+K when the query ends with `?`.",
        "operationId": "askWorkspace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string"
                  },
                  "workspace": {
                    "type": "string",
                    "description": "Workspace id to scope (optional for personal context)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer with page citations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": {
                      "type": "string"
                    },
                    "citations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "artifact_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/metric-watch": {
      "get": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "List metric watches on an artifact",
        "operationId": "listMetricWatches",
        "parameters": [
          {
            "name": "artifact_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watches for the artifact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "watches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetricWatch"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "Create a metric watch",
        "description": "One-click table watch — bell-only anomaly alerts (±threshold_pct vs baseline).",
        "operationId": "createMetricWatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricWatchCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Watch created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "watch": {
                      "$ref": "#/components/schemas/MetricWatch"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/metric-watch/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "Delete a metric watch",
        "operationId": "deleteMetricWatch",
        "responses": {
          "200": {
            "description": "Watch removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List artifacts",
        "operationId": "listArtifacts",
        "parameters": [
          {
            "name": "favorites",
            "in": "query",
            "description": "Return only the current user's favorited artifacts.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "List artifacts that belong to a workspace (not the caller's personal artifacts). Caller must be a workspace member (403 otherwise). Owners/admins see all workspace artifacts; members see non-private artifacts plus any they own or collaborate on.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of artifacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Artifact"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/artifacts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Get an artifact",
        "operationId": "getArtifact",
        "responses": {
          "200": {
            "description": "The artifact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Update artifact metadata",
        "description": "Update visibility, name, social link-preview fields, or anonymous-access opt-ins. Public visibility requires a paid plan or paid Teams workspace; otherwise visibility is held with code `VISIBILITY_HELD` and a paywall notice.",
        "operationId": "updateArtifact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "visibility": {
                    "$ref": "#/components/schemas/Visibility"
                  },
                  "allow_anon_write": {
                    "type": "boolean",
                    "description": "Let anonymous visitors mutate json/tables/blobs/datasets on public artifacts."
                  },
                  "allow_anon_email": {
                    "type": "boolean",
                    "description": "Let anonymous visitors send contact-form email."
                  },
                  "allow_anon_agent": {
                    "type": "boolean",
                    "description": "Let anonymous visitors use the in-artifact AI chat agent."
                  },
                  "allow_anon_collab": {
                    "type": "boolean",
                    "description": "Let anonymous visitors join realtime collaboration."
                  },
                  "social_title": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "social_description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "social_image_url": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Delete an artifact (soft delete)",
        "description": "Soft delete with a 30-day recovery window — not an immediate purge. The artifact is hidden from listings and stops serving, and its routing slug is freed for re-publish, but its files, versions, and data store are kept so it can be restored via `POST /v1/artifacts/{id}/restore` until the window elapses (a daily sweep hard-purges it after that). Caller must be the artifact owner, or a workspace owner/admin when the artifact is workspace-owned (`owner_id` is null).",
        "operationId": "deleteArtifact",
        "responses": {
          "200": {
            "description": "Moved to trash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "string",
                      "description": "Artifact id"
                    },
                    "deleted_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "recoverable_until": {
                      "type": "string",
                      "format": "date-time",
                      "description": "After this time the artifact is permanently purged."
                    },
                    "retention_days": {
                      "type": "integer",
                      "example": 30
                    },
                    "restore_url": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/artifacts/{id}/export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Export artifact as zip",
        "description": "One-click portability — published source files plus json keys and table CSVs. Owner or workspace admin only.",
        "operationId": "exportArtifact",
        "responses": {
          "200": {
            "description": "Zip bundle",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/artifacts/{id}/present": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "post": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Present this — AI-generate a slides deck",
        "description": "Reads production HTML and publishes a new private slides artifact in the same workspace. Rate-limited per user.",
        "operationId": "presentArtifact",
        "responses": {
          "200": {
            "description": "New deck artifact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artifact_id": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/v1/artifacts/unused/archive": {
      "post": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Archive all unused personal pages",
        "description": "Soft-delete flagged never-viewed pages (janitor). Personal account owner only. Batches of 100 per call.",
        "operationId": "archiveUnusedPersonalArtifacts",
        "responses": {
          "200": {
            "description": "Archive result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "archived": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/artifacts/{id}/presence": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Live concurrent viewer count",
        "description": "Best-effort count of viewers with the artifact page open (visible tab). Owner or collaborator only — not shown on the public page.",
        "operationId": "getArtifactPresence",
        "responses": {
          "200": {
            "description": "Current viewer count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/artifacts/{id}/deliver": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Deliver channel status",
        "description": "Per-channel connection status for the Home Inspector Deliver section — whether Telegram is linked for the signed-in user, Slack is connected for the artifact workspace (with OAuth `connectUrl` when not), and email is always available.",
        "operationId": "getArtifactDeliverStatus",
        "responses": {
          "200": {
            "description": "Channel status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "telegram": {
                      "type": "object",
                      "properties": {
                        "linked": {
                          "type": "boolean"
                        },
                        "connectUrl": {
                          "type": "string"
                        }
                      }
                    },
                    "slack": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        },
                        "connected": {
                          "type": "boolean"
                        },
                        "connectionName": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "connectUrl": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "email": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Deliver artifact now",
        "description": "One-shot delivery to email, Slack, or Telegram — same destination registry as scheduled jobs (`action` + `config`). Viewers may only deliver to themselves on Slack/Telegram.",
        "operationId": "deliverArtifactNow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action",
                  "config"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "email",
                      "slack",
                      "telegram"
                    ]
                  },
                  "config": {
                    "type": "object",
                    "description": "Same shape as job `config` for the chosen action."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delivery succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "502": {
            "description": "Delivery failed"
          }
        }
      }
    },
    "/v1/artifacts/{id}/deliver/slack-channels": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List Slack channels for Deliver picker",
        "description": "Searchable channel list for the workspace Slack connection — used by Home Inspector Deliver instead of pasting channel IDs.",
        "operationId": "listArtifactDeliverSlackChannels",
        "responses": {
          "200": {
            "description": "Channels",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/artifacts/deleted": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List soft-deleted artifacts (trash)",
        "description": "Soft-deleted artifacts still inside the 30-day recovery window that the caller can restore (their own, plus workspace-owned ones where they are an owner/admin). Each entry includes `deleted_at` and `recoverable_until`.",
        "operationId": "listDeletedArtifacts",
        "responses": {
          "200": {
            "description": "Trash contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "retention_days": {
                      "type": "integer",
                      "example": 30
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/artifacts/{id}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "post": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Restore a soft-deleted artifact",
        "description": "Bring a trashed artifact back. Allocates a fresh routing + display slug (suffixed if the original was reclaimed by a re-publish while it was trashed), recreates the production deployment from the latest version, and returns the artifact detail. Caller must be the owner, or a workspace owner/admin. Only works inside the 30-day window — after that the artifact is permanently purged.",
        "operationId": "restoreArtifact",
        "responses": {
          "200": {
            "description": "Restored",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Artifact"
                }
              }
            }
          },
          "400": {
            "description": "Artifact is not deleted"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Artifact has no version to restore"
          }
        }
      }
    },
    "/v1/artifacts/{id}/files": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "Get artifact files",
        "description": "Fetch all files for an artifact version. Requires viewer access or higher.",
        "operationId": "getArtifactFiles",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Version number or ID. Defaults to the latest.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files for the version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "artifact_id": {
                      "type": "string"
                    },
                    "version_id": {
                      "type": "string"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileEntry"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/artifacts/{id}/collaborators": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Collaborators"
        ],
        "summary": "List collaborators",
        "operationId": "listCollaborators",
        "responses": {
          "200": {
            "description": "Collaborators",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collaborators": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Collaborator"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Collaborators"
        ],
        "summary": "Add collaborators",
        "operationId": "addCollaborators",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emails",
                  "role"
                ],
                "properties": {
                  "emails": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    }
                  },
                  "role": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/artifacts/{id}/collaborators/{email}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        },
        {
          "name": "email",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "email"
          }
        }
      ],
      "delete": {
        "tags": [
          "Collaborators"
        ],
        "summary": "Remove a collaborator",
        "operationId": "removeCollaborator",
        "responses": {
          "200": {
            "description": "Removed"
          },
          "400": {
            "description": "Cannot remove the artifact owner",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/artifacts/{id}/transfer-ownership": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "post": {
        "tags": [
          "Collaborators"
        ],
        "summary": "Transfer ownership",
        "description": "Owner only.",
        "operationId": "transferOwnership",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ownership transferred"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/access-requests": {
      "post": {
        "tags": [
          "Access requests"
        ],
        "summary": "Request access to a private page",
        "description": "Signed-in user asks the artifact owner for viewer access (Google Drive style). Requires an email identity. Idempotent while a pending request exists.",
        "operationId": "createAccessRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "slug"
                ],
                "properties": {
                  "slug": {
                    "type": "string",
                    "description": "Production slug of the private artifact."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request created or already pending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "created",
                        "pending"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/access-requests/incoming": {
      "get": {
        "tags": [
          "Access requests"
        ],
        "summary": "List pending access requests for your pages",
        "operationId": "listIncomingAccessRequests",
        "responses": {
          "200": {
            "description": "Pending requests where you are the artifact owner",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AccessRequest"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/access-requests/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Access requests"
        ],
        "summary": "Approve or deny an access request",
        "description": "Owner only. Approving adds the requester as a viewer collaborator.",
        "operationId": "decideAccessRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "deny"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision recorded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "action": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/support/tickets": {
      "get": {
        "tags": [
          "Support"
        ],
        "summary": "List support tickets",
        "description": "`scope=mine` (default) returns the requester's tickets. `scope=workspace&workspace={id}` requires workspace admin/owner. `scope=all` is super-admin only. Optional `status` filter.",
        "operationId": "listSupportTickets",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "mine",
                "workspace",
                "all"
              ],
              "default": "mine"
            }
          },
          {
            "name": "workspace",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Required when scope=workspace."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "pending",
                "resolved",
                "closed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "tickets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupportTicket"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Support"
        ],
        "summary": "Create a support ticket",
        "operationId": "createSupportTicket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "body"
                ],
                "properties": {
                  "subject": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "workspaceId": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "ticket": {
                      "$ref": "#/components/schemas/SupportTicket"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/support/tickets/{ticketId}": {
      "parameters": [
        {
          "name": "ticketId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Support"
        ],
        "summary": "Get ticket and thread",
        "operationId": "getSupportTicket",
        "responses": {
          "200": {
            "description": "Ticket with messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "ticket": {
                      "$ref": "#/components/schemas/SupportTicket"
                    },
                    "thread": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SupportMessage"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/support/tickets/{ticketId}/message": {
      "parameters": [
        {
          "name": "ticketId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Support"
        ],
        "summary": "Append a message (customer reply re-opens)",
        "operationId": "appendSupportMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message added"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/support/tickets/{ticketId}/reply": {
      "parameters": [
        {
          "name": "ticketId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Support"
        ],
        "summary": "Staff approve and send reply on origin channel",
        "operationId": "replySupportTicket",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reply delivered"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/support/tickets/{ticketId}/status": {
      "parameters": [
        {
          "name": "ticketId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Support"
        ],
        "summary": "Update ticket status (staff)",
        "operationId": "setSupportTicketStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "open",
                      "pending",
                      "resolved",
                      "closed"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated"
          }
        }
      }
    },
    "/v1/artifacts/{id}/favorite": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "post": {
        "tags": [
          "Favorites"
        ],
        "summary": "Favorite an artifact",
        "description": "Idempotent. Any logged-in user for public artifacts; viewer+ for private.",
        "operationId": "addFavorite",
        "responses": {
          "200": {
            "description": "Favorited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "artifact_id": {
                      "type": "string"
                    },
                    "favorited": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Favorites"
        ],
        "summary": "Unfavorite an artifact",
        "description": "Idempotent.",
        "operationId": "removeFavorite",
        "responses": {
          "200": {
            "description": "Unfavorited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "artifact_id": {
                      "type": "string"
                    },
                    "favorited": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/{artifactId}/json": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DataArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "Read the artifact JSON store",
        "operationId": "getJson",
        "responses": {
          "200": {
            "description": "The stored JSON document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Data"
        ],
        "summary": "Replace the artifact JSON store",
        "operationId": "putJson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          }
        }
      }
    },
    "/v1/data/{artifactId}/tables": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DataArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "List tables",
        "operationId": "listTables",
        "responses": {
          "200": {
            "description": "Tables for the artifact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tables": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/{artifactId}/workspace/_share": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DataArtifactId"
        }
      ],
      "post": {
        "tags": [
          "Data"
        ],
        "summary": "Share one of this artifact's tables with the workspace (Teams)",
        "description": "Owner-only. Exposes one of this artifact's tables to other artifacts in the same workspace at read or readwrite level. The data stays in this artifact's store; this only records an opt-in grant.",
        "operationId": "shareWorkspaceTable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "table"
                ],
                "properties": {
                  "table": {
                    "type": "string",
                    "description": "Name of this artifact's table to share."
                  },
                  "as": {
                    "type": "string",
                    "description": "Workspace-unique shared name (defaults to the table name)."
                  },
                  "access": {
                    "type": "string",
                    "enum": [
                      "read",
                      "readwrite"
                    ],
                    "default": "read"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Share created or updated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/data/{artifactId}/workspace/tables/{sharedName}/query": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DataArtifactId"
        },
        {
          "name": "sharedName",
          "in": "path",
          "required": true,
          "description": "The workspace-shared table name.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Data"
        ],
        "summary": "Query a workspace-shared table (Teams)",
        "description": "Read rows from a table another artifact shared into this workspace. Same query body as the per-artifact table query. Writing (insert/update/delete) is allowed only when the owner shared the table as readwrite.",
        "operationId": "queryWorkspaceTable",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching rows"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/shared-tables": {
      "get": {
        "tags": [
          "Data"
        ],
        "summary": "List tables shared into a workspace (Teams)",
        "description": "Any workspace member can list the shared-table catalog.",
        "operationId": "listWorkspaceSharedTables",
        "parameters": [
          {
            "name": "workspaceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shared tables in the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "viewerRole": {
                      "type": "string"
                    },
                    "sharedTables": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sharedName": {
                            "type": "string"
                          },
                          "access": {
                            "type": "string",
                            "enum": [
                              "read",
                              "readwrite"
                            ]
                          },
                          "ownerArtifactId": {
                            "type": "string"
                          },
                          "ownerName": {
                            "type": "string"
                          },
                          "sourceTable": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/data/{artifactId}/blobs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DataArtifactId"
        }
      ],
      "get": {
        "tags": [
          "Blobs"
        ],
        "summary": "List blobs",
        "operationId": "listBlobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "blobs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Blob"
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Blobs"
        ],
        "summary": "Upload a blob",
        "description": "Max 50MB per file, 500MB per artifact, 1000 blobs.",
        "operationId": "uploadBlob",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "filename": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Blob"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "File too large or storage full",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{deliverableId}/content": {
      "parameters": [
        {
          "name": "deliverableId",
          "in": "path",
          "required": true,
          "description": "Workspace file id (`dlv_…`)",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Stream workspace file content (latest version)",
        "description": "Cross-artifact file route. Enforces per-file visibility — private files require owner, workspace member, or a sharee grant.",
        "operationId": "getFileContent",
        "responses": {
          "200": {
            "description": "File bytes",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "operationId": "listJobs",
        "parameters": [
          {
            "name": "artifact_id",
            "in": "query",
            "description": "Filter to a single artifact.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Job"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create a job",
        "description": "Schedule a recurring (cron) or event-driven task.",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreate"
              },
              "examples": {
                "weeklyEmail": {
                  "summary": "Weekly email",
                  "value": {
                    "artifact_id": "art_abc123",
                    "action": "email",
                    "trigger_type": "cron",
                    "schedule": "0 9 * * 1",
                    "config": {
                      "recipients": [
                        "team@company.com"
                      ],
                      "subject": "Weekly report",
                      "includeArtifactLink": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job",
        "operationId": "getJob",
        "responses": {
          "200": {
            "description": "The job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update a job",
        "description": "Enable/pause, change schedule, title, description, or config.",
        "operationId": "updateJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1000,
                    "nullable": true
                  },
                  "schedule": {
                    "type": "string"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Delete a job",
        "operationId": "deleteJob",
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/v1/jobs/{id}/run": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Run a job now",
        "description": "Trigger immediately without affecting the schedule.",
        "operationId": "runJob",
        "responses": {
          "200": {
            "description": "Executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "execution": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/folders": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "List personal folders",
        "operationId": "listFolders",
        "responses": {
          "200": {
            "description": "Folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "folders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create a folder",
        "operationId": "createFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Auto-generated from name if omitted."
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/folders/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "patch": {
        "tags": [
          "Folders"
        ],
        "summary": "Rename or update a folder",
        "operationId": "updateFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Folder"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete a folder",
        "description": "Artifacts inside the folder become unfiled.",
        "operationId": "deleteFolder",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/artifacts/{id}/folder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ArtifactId"
        }
      ],
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Move an artifact into a folder",
        "description": "Pass `folder_id: null` to remove the artifact from its folder.",
        "operationId": "moveArtifactToFolder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "folder_id"
                ],
                "properties": {
                  "folder_id": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moved"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List deliverables and loose files",
        "description": "Returns the scope's asset bucket — deliverables at their latest version, loose uploads, `bucketId`, and `usedBytes`. Personal scope uses `/v1/assets` without a workspace prefix.",
        "operationId": "listWorkspaceAssets",
        "responses": {
          "200": {
            "description": "Asset library",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetLibrary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/assets/collections/{collectionId}/share": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "collectionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Create a public delivery link",
        "description": "Mint an unguessable `/d/<token>` download page for a collection. Optional `gate` (`none`, `password`, `domain`), `expiresAt`, and gate inputs. Protected deliveries stream bytes through `/d/<token>/file/<blobId>`.",
        "operationId": "shareAssetCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetShareRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Share link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetShareLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/assets/links": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List sent delivery links",
        "operationId": "listAssetShareLinks",
        "responses": {
          "200": {
            "description": "Links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "links": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssetShareLink"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/assets/links/{linkId}/revoke": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "linkId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Revoke a delivery link",
        "description": "Revoked links 404 for both the download page and gated file bytes.",
        "operationId": "revokeAssetShareLink",
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/sharees": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "External sharing"
        ],
        "summary": "List client orgs",
        "operationId": "listSharees",
        "responses": {
          "200": {
            "description": "Client orgs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sharees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sharee"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "External sharing"
        ],
        "summary": "Create a client org",
        "operationId": "createSharee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareeCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sharee"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/sharees/{shareeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "shareeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "External sharing"
        ],
        "summary": "Get a client org",
        "operationId": "getSharee",
        "responses": {
          "200": {
            "description": "Client org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sharee"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "External sharing"
        ],
        "summary": "Update a client org",
        "operationId": "updateSharee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShareeUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "External sharing"
        ],
        "summary": "Delete a client org",
        "description": "Removes the client, its members, grants, and notes.",
        "operationId": "deleteSharee",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/grants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "External sharing"
        ],
        "summary": "List grants",
        "operationId": "listGrants",
        "parameters": [
          {
            "name": "subject_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "folder",
                "artifact",
                "file"
              ]
            }
          },
          {
            "name": "resource_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grants": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Grant"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "External sharing"
        ],
        "summary": "Create a grant",
        "operationId": "createGrant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/grants/{grantId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "grantId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "External sharing"
        ],
        "summary": "Revoke a grant",
        "operationId": "deleteGrant",
        "responses": {
          "200": {
            "description": "Revoked"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/share-person": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "post": {
        "tags": [
          "External sharing"
        ],
        "summary": "Share a file or folder with one person by email",
        "description": "Teams/Enterprise. Admin only. Invites an external user if needed and mints an `external_user` grant. Returns 409 if the email is already an internal member.",
        "operationId": "shareWithPerson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "resource_type",
                  "resource_id"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "resource_type": {
                    "type": "string",
                    "enum": [
                      "file",
                      "folder"
                    ]
                  },
                  "resource_id": {
                    "type": "string"
                  },
                  "capability": {
                    "type": "string",
                    "enum": [
                      "view",
                      "comment"
                    ],
                    "default": "view"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant created (idempotent re-share)"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Email is already an internal workspace member"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Export all workspace artifacts as zip",
        "description": "Owner or admin only. Caps at 200 artifacts per zip.",
        "operationId": "exportWorkspace",
        "responses": {
          "200": {
            "description": "Zip bundle",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/unused/archive": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Archive all unused workspace pages",
        "description": "Soft-delete flagged never-viewed pages (janitor). Workspace owner or admin. Batches of 100 per call.",
        "operationId": "archiveUnusedWorkspaceArtifacts",
        "responses": {
          "200": {
            "description": "Archive result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "archived": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/sharee-activity": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        }
      ],
      "get": {
        "tags": [
          "External sharing"
        ],
        "summary": "List read receipts across all clients",
        "operationId": "listWorkspaceShareeActivity",
        "responses": {
          "200": {
            "description": "Activity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShareeActivityList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/sharees/{shareeId}/context": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "shareeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "External sharing"
        ],
        "summary": "List client note files",
        "operationId": "listShareeContextFiles",
        "responses": {
          "200": {
            "description": "Note files",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/workspaces/{workspaceId}/sharees/{shareeId}/context/{name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkspaceId"
        },
        {
          "name": "shareeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "External sharing"
        ],
        "summary": "Read a client note",
        "operationId": "getShareeContextFile",
        "responses": {
          "200": {
            "description": "Markdown note",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "External sharing"
        ],
        "summary": "Create or replace a client note",
        "description": "Admin only. Raw markdown body or JSON with a content field.",
        "operationId": "putShareeContextFile",
        "requestBody": {
          "content": {
            "text/markdown": {
              "schema": {
                "type": "string"
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "External sharing"
        ],
        "summary": "Delete a client note",
        "operationId": "deleteShareeContextFile",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/metric-alerts/definitions": {
      "get": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "List metric definitions",
        "operationId": "listMetricDefinitions",
        "parameters": [
          {
            "name": "artifact_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metric definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "metrics": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetricDefinition"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "Create or update a metric definition",
        "description": "Upserts by `(artifact_id, metric_id)`. Up to 10 metrics per artifact.",
        "operationId": "upsertMetricDefinition",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricDefinition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/metric-alerts/definitions/{artifactId}/{metricId}": {
      "parameters": [
        {
          "name": "artifactId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "metricId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "Delete a metric definition",
        "operationId": "deleteMetricDefinition",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/metric-alerts": {
      "get": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "List alert rules",
        "description": "Manager-aware — managers see every rule on the artifact; viewers see only their own.",
        "operationId": "listMetricAlerts",
        "parameters": [
          {
            "name": "artifact_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alerts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetricAlert"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Metric alerts"
        ],
        "summary": "Create an alert rule",
        "operationId": "createMetricAlert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricAlertCreate"
              },
              "examples": {
                "revenueDrop": {
                  "summary": "Slack alert when revenue drops",
                  "value": {
                    "artifact_id": "art_abc123",
                    "metric_id": "revenue",
                    "name": "Revenue dropped below target",
                    "condition": {
                      "op": "lt",
                      "value": 100000
                    },
                    "schedule": "0 * * * *",
                    "destination": {
                      "kind": "slack",
                      "config": {
                        "connection": "team",
                        "targetType": "channel",
                        "channelId": "C0123456789",
                        "mode": "message"
[...]
